body{
    font-family: arial, sans-serif;
}

ul{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 23px;
    margin-left: -22px;}

.header{
    display: inline;
    font-size: 13px;
}


.non-button{
    color: #545454;
    text-decoration: none;
}

.non-button:hover{
    text-decoration: underline;
}

#sign-in{
    background-color: #5d87ff;
    color: white;
    font-weight: bold;
    border: none;
    padding: 7px 12px;
    border-radius: 2px;
}

/*Code for the navbar spacing*/
#about-btn{
    width: 50px;
}

#store-btn{
    width: 20%;
}




/*------------------*/

.main-components{
    margin-top: 200px;
    text-align: center;
}


#google-logo{
    display: block;
}


#input-bar{
    width: 490px;
    font-size: 17px;
    padding: 13px 45px;
    border-radius: 25px;
    border-width: 0.5px;
    border-color: #d4d4d4;
    border-style: solid;
    margin-top: 25px;
    background-image: url(searchicon.jpg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 18px 15.5px;
}

#input-bar:focus{
    outline: none;
    box-shadow: 0 0.5px 5px 1px #c3c3c3;

}

#input-bar:hover{
    box-shadow: 0 0.5px 5px 1px #c3c3c3;
    border: 0.5px solid transparent;
}

button{
    border: 1px solid transparent;
}

button:hover{
    border: solid;
    border-color: #c5c4c4;
    border-width: 1px;
    color: #2f2f2f;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05);
    cursor: pointer;
}


.buttons{
    color: #636363;
    margin-top: 25px;
    margin-right: 8px;
    padding: 10px 18px;
    border-radius: 4px;
    background-color: #f3f3f3;
    font-size: 14px;
}

#change-lang{
    font-size: 13px;
    color: #333333;
    margin-top: 30px;
}

#french-link{
    text-decoration: none;
}

#french-link:hover{
    text-decoration: underline;
}